<h1 class="pull-left"> Senders </h1>
<a href="/senders/" class="btn btn-primary pull-right"> Back </a>

<div class="row">
    <div class="col-md-12">
        <h2> Edit Sender </h2>
    </div>
    <div class="col-md-12">
        <form>
            <div class="alert alert-success" *ngIf="message != ''">{{ message }}</div>

            <label> Name </label>
            <input type="text" [(ngModel)]="sender.name"/>

            <label> E-mail </label>
            <input type="text" [(ngModel)]="sender.email"/>

            <label> Address </label>
            <input type="text" [(ngModel)]="sender.address"/>

            <label> Zipcode </label>
            <input type="text" [(ngModel)]="sender.zipCode"/>

            <label> City </label>
            <input type="text" [(ngModel)]="sender.city"/>

            <label> KVK Number </label>
            <input type="text" [(ngModel)]="sender.kvknumber"/>

            <label> BTW Number </label>
            <input type="text" [(ngModel)]="sender.btwnumber"/>

            <label> BIC Number </label>
            <input type="text" [(ngModel)]="sender.bicnumber"/>

            <label> IBAN Number </label>
            <input type="text" [(ngModel)]="sender.ibannumber"/>

            <label> Website </label>
            <input type="text" [(ngModel)]="sender.website"/>

            <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 15px;">Edit</button>
        </form>
    </div>
</div>