<div class="row">
    <div class="col-md-12">
        <h1 class="pull-left">Companies</h1>
        <button (click)="create()" class="btn btn-primary pull-right"> Add</button>
    </div>
</div>

<!--
{
    "name":             "Post",
    "email":            "mail@me.nl",
    "telephoneNumber":  "0675847382",
    "city":             "Arnhem",
    "zipcode":          "5545WQ",
    "address":          "Laan 22",
    "contactPersons":[
        {"firstName":"Een",     "lastName":"Nee",   "email":"een@mail.nl"},
        {"firstName":"Twee",    "lastName":"Eewt",  "email":"twee@mail.nl"}
    ]
}
-->

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>

<form *ngIf="createForm">
    <div class="row" >
        <div class="col col-md-6">

            <fieldset>
                <legend>Add Company</legend>

                <label> Name </label>
                <input type="text" [(ngModel)]="company.name">

                <label> Customer Number </label>
                <input type="text" [(ngModel)]="company.number">

                <label> E-mail </label>
                <input type="text" [(ngModel)]="company.email">

                <label> City </label>
                <input type="text" [(ngModel)]="company.city">

                <label> Zipcode </label>
                <input type="text" [(ngModel)]="company.zipcode">

                <label> Address </label>
                <input type="text" [(ngModel)]="company.address">

                <label> Mailbox </label>
                <input type="text" [(ngModel)]="company.mailBox">
            </fieldset>
        </div>
        <div class="col col-md-6">
            <fieldset class="customer">
                <legend>ContactPerson</legend>

                <label> Firstname </label>
                <input type="text" [(ngModel)]="contactPerson.firstName">

                <label> Lastname </label>
                <input type="text" [(ngModel)]="contactPerson.lastName">

                <label> E-mail </label>
                <input type="text" [(ngModel)]="contactPerson.email">

                <label> Telephone </label>
                <input type="text" [(ngModel)]="contactPerson.telephone">

                <button (click)="addContact()" class="btn btn-primary">Add more</button>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="#contact of company.contactPersons">
            <fieldset class="customer">
                <legend>Person</legend>

                <label> Firstname </label>
                {{ contact.firstName }}

                <label> Lastname </label>
                {{ contact.lastName }}

                <label> E-mail </label>
                {{ contact.email }}

                <label> Telephone </label>
                {{ contact.telephone }}
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
            <button type="button" (click)="store()" class="btn btn-primary"> Save </button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <h2> All Companies </h2>
    </div>
    <div class="col-md-12" *ngFor="#company of companies">
        {{ company.name }} {{ company.invoiceEmail }} <a href="/companies/edit/{{ company.id }}" class="btn btn-primary"> Edit </a> <button type="button" (click)="drop(company.id)" class="btn btn-default">Delete</button>
    </div>
</div>