<h1 class="pull-left">ContactPersons</h1> <button type="button" (click)="create()" class="btn btn-primary pull-right"> Add </button>

<div class="row" *ngIf="createForm">
    <div class="col-md-12">
        <form>
            <h2>Add ContactPerson</h2>

            <label> To company </label>
            <select [(ngModel)]="company.contactPersons" style="color: black;">
                <option *ngFor="#company of companies">
                    {{ company.name }}
                </option>
            </select>

            <label> First name </label>
            <input type="text" placeholder="firstname" [(ngModel)]="contactPerson.firstname">
            <label> Last name </label>
            <input type="text" placeholder="lastname" [(ngModel)]="contactPerson.lastname">
            <label> Email </label>
            <input type="text" placeholder="email" [(ngModel)]="contactPerson.email">
            <label> Phone </label>
            <input type="text" placeholder="phone" [(ngModel)]="contactPerson.telephone">


            <button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save</button>
        </form>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <!--<h2> All Contact Persons </h2>-->

        <div class="row" (ngInit)="index()">
            <div class="col-md-12">
                <div class="alert alert-info" *ngIf="message != null"> {{ message }} </div>
                <h2> All contact Persons </h2>
            </div>
    </div>

    <div class="col-md-6" *ngFor="#contactPerson of contactPersons">
        <div class="card">
            <div class="content-area">
                <h2> {{contactPerson.firstname}} &nbsp; {{contactPerson.lastname}}  <span class="panel pull-right"> Company XYZ </span></h2>
                <p>{{contactPerson.telephone}}</p>
                <p>{{contactPerson.email}}</p>
            </div>
            <div class="controls-area">
                <div class="clearfix">
                    <!--<button (click)="showDeleteDialog(contactPerson.id)" class="btn-default pull-right"> Verwijder </button>-->
                    <a href="editContactPersons/{{ contactPerson.id }}" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>
        </div>


     <!--TEST-->
    <!--<div class="col-md-6">-->
        <!--<div class="card">-->
            <!--<div class="content-area">-->
                <!--<h2> CP name  <span class="panel pull-right"> Company XYZ </span></h2>-->
                <!--<p>phone</p>-->
                <!--<p>mail</p>-->
            <!--</div>-->
            <!--<div class="controls-area">-->
                <!--<div class="clearfix">-->
                    <!--&lt;!&ndash;<button (click)="showDeleteDialog(contactPerson.id)" class="btn-default pull-right"> Verwijder </button>&ndash;&gt;-->
                    <!--<a href="editContactPersons/{{ contactPerson.id }}" class="btn btn-primary">Edit</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


<!--</div>-->

<!--&lt;!&ndash; add-form dialog &ndash;&gt;-->
<!--<div class="addDialog">&lt;!&ndash; *ngIf="add.dialog">&ndash;&gt;-->
    <!--<div class="background"></div>-->
    <!--<div class="content">-->
        <!--<div class="card">-->
            <!--<div class="content-area">-->
                <!--<h2>Add a Contact Person</h2>-->
                <!--<form style="margin-top: -15px;">-->
                    <!--<label> To company: </label>-->
                    <!--<select *ngFor="#company of companies">-->
                        <!--<option>{{companies.name}}</option>-->
                    <!--</select>-->

                    <!--<label> Name </label>-->
                    <!--<input type="text" [(ngModel)]="add.contactPersons.name" />-->
                    <!--<label> Phonenumber </label>-->
                    <!--<input type="text" [(ngModel)]="add.contactPersons.telephone" />-->
                    <!--<label> E-mail </label>-->
                    <!--<input type="text" [(ngModel)]="add.contactPersons.email" />-->

                <!--</form>-->
            <!--</div>-->

            <!--<div class="controls-area">-->
                <!--<div class="clearfix">-->
                    <!--<button type="button" class="btn-default pull-right" (click)="store()">-->
                        <!--Save-->
                    <!--</button>-->
                    <!--<button type="button" class="btn-primary pull-right" (click)="cancel()">-->
                        <!--Cancel-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</div>