<!--<h1 class="pull-left">Companies</h1> <button type="button" (click)="showAddForm()" class="btn btn-primary pull-right"> Add </button>-->

<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<h2> All companies </h2>-->
    <!--</div>-->



    <!--<h1 class="pull-left" (ngInit)="index()">Companies</h1>-->
    <!--<button (click)="create()" class="btn btn-primary pull-right"> Add</button>-->
    <!--<div class="row" *ngIf="createForm">-->
        <!--<div class="col-md-12">-->
            <!--<form>-->


                <!--<div class="row" *ngIf="createForm">-->
                    <!--<div class="col-md-12">-->
                        <!--<form>-->
                            <!--<label> Name </label>-->
                            <!--<input type="text" [(ngModel)]="company.name"/>-->

                            <!--<label> Email for Invoices </label>-->
                            <!--<input type="text" [(ngModel)]="company.invoiceEmail"/>-->

                            <!--<label> Address </label>-->
                            <!--<input type="text" [(ngModel)]="company.address"/>-->

                            <!--<label> Zipcode </label>-->
                            <!--<input type="text" [(ngModel)]="company.zipcode"/>-->

                            <!--<label> City </label>-->
                            <!--<input type="text" [(ngModel)]="company.city"/>-->

                            <!--<h2>Add a contactperson</h2>-->
                            <!--<label> First name </label>-->
                            <!--<input type="text" placeholder="firstname" [(ngModel)]="contactperson.firstname">-->
                            <!--<label> Last name </label>-->
                            <!--<input type="text" placeholder="lastname" [(ngModel)]="contactperson.lastname">-->
                            <!--<label> Email </label>-->
                            <!--<input type="text" placeholder="email" [(ngModel)]="contactperson.email">-->
                            <!--<label> Phone </label>-->
                            <!--<input type="text" placeholder="phone" [(ngModel)]="contactperson.telephone">-->

                            <!--<button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save-->
                            <!--</button>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->


<h1 class="pull-left">Companies</h1> <button type="button" (click)="create()" class="btn btn-primary pull-right"> Add </button>

<div class="row" *ngIf="createForm">
    <div class="col-md-12">
        <form>
            <h2>Add a new Company</h2>

                <label> Name </label>
                <input type="text" [(ngModel)]="company.name"/>

                <label> Email for Invoices </label>
                <input type="text" [(ngModel)]="company.invoiceEmail"/>

                <label> Address </label>
                <input type="text" [(ngModel)]="company.address"/>

                <label> Zipcode </label>
                <input type="text" [(ngModel)]="company.zipcode"/>

                <label> City </label>
                <input type="text" [(ngModel)]="company.city"/>

            <h2>Add a contact person to this company</h2>

                <label> First name </label>
                <input type="text" placeholder="firstname" [(ngModel)]="contactperson.firstname">

                <label> Last name </label>
                <input type="text" placeholder="lastname" [(ngModel)]="contactperson.lastname">

                <label> Email </label>
                <input type="text" placeholder="email" [(ngModel)]="contactperson.email">

                <label> Phone </label>
                <input type="text" placeholder="phone" [(ngModel)]="contactperson.telephone">


            <button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save</button>
        </form>
    </div>
</div>












    <div class="col-md-6"*ngFor="#customer of customers">
        <div class="card">
            <div class="content-area">
                <h2>  <span class="panel pull-right"> {{company.name}} </span></h2>

                <label class="companydata">E-mail</label><p class="cdata">{{company.email}}</p>
                <label class="companydata">Phonenumber</label><p  class="cdata">{{company.telephone}}</p>
                <label class="companydata">Address</label><p class="cdata">{{company.address}}</p>
                <label class="companydata">Zipcode</label><p class="cdata">{{company.zipcode}}</p>
                <label class="companydata">City</label><p class="cdata">{{company.city}}</p>


                <div class="col-md-12" *ngFor="#contactPerson of contactPersons">
                <div class="contactPerson">
                    <label>ContactPerson Name</label><p  class="cdata">{{contactPerson.firstname}} &nbsp; {{contactPerson.lastname}}</p>
                    <label>ContactPerson Phone</label><p  class="cdata">{{contactPerson.telephonenumber}}</p>
                    <label>ContactPerson Mail</label><p  class="cdata">{{contactPerson.email}}</p>
                </div>
                </div>
            </div>


            <div class="controls-area">
                <div class="clearfix">
                    <button (click)="showDeleteDialog(companies.id)" class="btn-default pull-right"> Delete </button>
                    <button (click)="showUpdateForm(companies)" class="btn-primary pull-right"> Edit </button>
                </div>
            </div>
        </div>
    </div>







    <!--&lt;!&ndash; OFFLINE TEST VERSIE &ndash;&gt;-->

    <!--<div class="col-md-6"> &lt;!&ndash;*ngFor="#customer of customers">&ndash;&gt;-->
        <!--<div class="card">-->
            <!--<div class="content-area">-->
                <!--<h2>  <span class="panel pull-right"> Company #2 </span></h2>-->
                <!--&lt;!&ndash;<p>"name":"Post",&ndash;&gt;-->
                    <!--&lt;!&ndash;"email":"mail@me.nl",&ndash;&gt;-->
                    <!--&lt;!&ndash;"telephoneNumber":"0675847382",&ndash;&gt;-->
                    <!--&lt;!&ndash;"city":"Arnhem",&ndash;&gt;-->
                    <!--&lt;!&ndash;"zipcode":"5545WQ",&ndash;&gt;-->
                    <!--&lt;!&ndash;"address":"Laan 22",</p>&ndash;&gt;-->

                    <!--<label class="companydata">E-mail</label><p class="cdata">mail@mail</p>-->
                    <!--<label class="companydata">Phonenumber</label><p  class="cdata">1234567890</p>-->
                    <!--<label class="companydata">Address</label><p class="cdata">straat 123</p>-->
                    <!--<label class="companydata">Zipcode</label><p class="cdata">2435 te</p>-->
                    <!--<label class="companydata">City</label><p class="cdata">stad</p>-->




                <!--<div class="contactPerson">-->
                    <!--<label>ContactPerson Name</label><p  class="cdata">Naam</p>-->
                    <!--<label>ContactPerson Phone</label><p  class="cdata">1234567890</p>-->
                    <!--<label>ContactPerson Mail</label><p  class="cdata">mail@mail</p>-->
                <!--</div>-->

                <!--<div class="contactPerson">-->
                    <!--<label>ContactPerson Name</label><p  class="cdata">Naam</p>-->
                    <!--<label>ContactPerson Phone</label><p  class="cdata">1234567890</p>-->
                    <!--<label>ContactPerson Mail</label><p  class="cdata">mail@mail</p>-->
                <!--</div>-->

                <!--<div class="contactPerson">-->
                    <!--<label>ContactPerson Name</label><p  class="cdata">Naam</p>-->
                    <!--<label>ContactPerson Phone</label><p  class="cdata">1234567890</p>-->
                    <!--<label>ContactPerson Mail</label><p  class="cdata">mail@mail</p>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="controls-area">-->
                <!--<div class="clearfix">-->
                    <!--&lt;!&ndash;<button (click)="showDeleteDialog(companies.id)" class="btn-default pull-right"> Verwijder </button>&ndash;&gt;-->
                    <!--<button (click)="showUpdateForm(companies)" class="btn-primary pull-right"> Edit </button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    <!--</div>-->


<!--</div>-->

<!--&lt;!&ndash; add-form dialog &ndash;&gt;-->
<!--<div class="addDialog">&lt;!&ndash; *ngIf="add.dialog">&ndash;&gt;-->
    <!--<div class="background"></div>-->
    <!--<div class="content">-->
        <!--<div class="card">-->
            <!--<div class="content-area">-->
                <!--<h2>add a company</h2>-->
                <!--<form style="margin-top: -15px;">-->
                    <!--<label> Company name </label>-->
                    <!--<input type="text" [(ngModel)]="add.companies.name" />-->

                    <!--<label> Phonenumber </label>-->
                    <!--<input type="text" [(ngModel)]="add.companies.telephone" />-->

                    <!--<label> E-mail </label>-->
                    <!--<input type="text" [(ngModel)]="add.companies.email" />-->

                    <!--<label> Street </label>-->
                    <!--<input type="text" [(ngModel)]="add.companies.streetname" />-->

                    <!--<label> Zipcode </label>-->
                    <!--<input type="text" [(ngModel)]="add.companies.zipcode" />-->

                    <!--<label> City </label>-->
                    <!--<input type="text" [(ngModel)]="add.companies.city" />-->

                    <!--<h2 style="margin-left: -15px; margin-top: 10px;"> Contact Person </h2>-->

                    <!--&lt;!&ndash;<label> Naam </label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" [(ngModel)]="add.customer.contactPersons.name" />&ndash;&gt;-->
                    <!--&lt;!&ndash;<label> Telefoonnummer </label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" [(ngModel)]="add.customer.contactPersons.telephone" />&ndash;&gt;-->
                    <!--&lt;!&ndash;<label> E-mail </label>&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="text" [(ngModel)]="add.customer.contactPersons.email" />&ndash;&gt;-->

                    <!--<label> Name </label>-->
                    <!--<input type="text" [(ngModel)]="add.contactPersons.name" />-->
                    <!--<label> Phonenumber </label>-->
                    <!--<input type="text" [(ngModel)]="add.contactPersons.telephone" />-->
                    <!--<label> E-mail </label>-->
                    <!--<input type="text" [(ngModel)]="add.contactPersons.email" />-->
                <!--</form>-->
            <!--</div>-->

            <!--<div class="controls-area">-->
                <!--<div class="clearfix">-->
                    <!--<button type="button" class="btn-default pull-right" (click)="store()">-->
                        <!--Save-->
                    <!--</button>-->
                    <!--<button type="button" class="btn-primary pull-right" (click)="cancel()">-->
                        <!--Cancel-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
