<aside>
	<img src="/assets/img/avisi.svg" alt="avisi"/>
	<nav>
		<ul>
			<li><a [routerLink]="['Dashboard']"> Dashboard </a></li>
			<li><a [routerLink]="['Sender']"> Senders </a></li>
			<li><a [routerLink]="['Company']"> Companies </a></li>

			<li><a [routerLink]="['Types']"> Types </a></li>
			<li><a [routerLink]="['Taxes']"> Taxes </a></li>
			<li><a [routerLink]="['SalesItems']"> SalesItem </a></li>

			<li><a [routerLink]="['Orders']"> Orders </a></li>
		</ul>
	</nav>
</aside>
<!---->
<div class="container">
	<header></header>
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
