<div class="row">
    <div class="col-md-12">
        <h1 class="pull-left"> Orders </h1>
        <button class="btn btn-primary pull-right" (click)="create()"> Add </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>

<form *ngIf="createForm">
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Add Order</legend>

                <label> Order Number </label>
                <input type="text" [(ngModel)]="order.number">

                <label> Identification </label>
                <input type="text" [(ngModel)]="order.identification">

                <label> Period </label>
                <select [(ngModel)]="order.period">
                    <option value="Weekly"> Weekly</option>
                    <option value="Monthly"> Monthly</option>
                    <option value="Yearly"> Yearly</option>
                </select>

                <label> Invoice E-mail </label>
                <input type="text" [(ngModel)]="order.invoiceEmail"/>

                <label> Invoice Message (optional)</label>
                <textarea [(ngModel)]="order.message"></textarea>

                <label> Pay Days </label>
                <input type="number" [(ngModel)]="order.payDays"/>

                <label> Start Date </label>
                <input type="date" [(ngModel)]="order.startDate"/>

                <label> End Date </label>
                <input type="date" [(ngModel)]="order.endDate"/>

                <label> Company </label>
                <select [(ngModel)]="order.companyId" (change)="reloadContactPersons($event)">
                    <option *ngFor="#company of companies" [value]="company.id">{{ company.name }}</option>
                </select>

                <label> Contact person </label>
                <select [(ngModel)]="order.contactPersonId">
                    <option *ngFor="#contact of contactPersons" [value]="contact.id">{{ contact.firstName }} {{
                        contact.lastName }}
                    </option>
                </select>

                <label> Sender </label>
                <select [(ngModel)]="order.senderId">
                    <option *ngFor="#sender of senders" [value]="sender.id"> {{ sender.name }}</option>
                </select>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset class="orderline">
                <legend> Add Orderlines</legend>

                <label> SalesItem </label>
                <select [(ngModel)]="orderLine.salesItemId">
                    <option *ngFor="#si of salesItems" [value]="si.id"> {{ si.name }} </option>
                </select>

                <label> Quantity </label>
                <input type="number" [(ngModel)]="orderLine.quantity">

                <button type="button" (click)="addOrderLine()" class="btn btn-primary"> Add orderline </button>
            </fieldset>

            <div class="row" >
                <div class="col-md-6" *ngFor="#ol of order.orderLines">

                    <fieldset class="orderline" style="margin-top: 15px;">
                        <label> Name </label>
                        {{ ol.salesItem.name }}

                        <label> Quantity </label>
                        {{ ol.quantity }}
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" (click)="store()" class="btn btn-primary"> Save </button>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-md-12">
        <h2> All Orders </h2>
    </div>

    <div class="col-md-12" *ngFor="#order of orders">
        {{order.number}} | {{ order.identification }} <a href="/orders/edit/{{ order.id }}" class="btn btn-primary">Edit</a> <button type="button" (click)="drop(order.id)" class="btn btn-default">Delete</button>
    </div>
</div>
