<h1 class="pull-left" (ngInit)="index()">SalesItem</h1>
<button (click)="create()" class="btn btn-primary pull-right"> Add</button>

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>


<div class="row" *ngIf="createForm">
    <div class="col-md-12">
        <form>


            <div class="row" *ngIf="createForm">
                <div class="col-md-12">
                    <form>
                        <label> SKU </label>
                        <input type="text" [(ngModel)]="salesItem.sku"/>

                        <label> Name </label>
                        <input type="text" [(ngModel)]="salesItem.name"/>

                        <label> Description </label>
                        <input type="text" [(ngModel)]="salesItem.description"/>

                        <label> Price </label>
                        <input type="number" [(ngModel)]="salesItem.price"/>

                        <label> Type </label>
                        <select [(ngModel)]="salesItem.typeId" style="color: black;">
                            <option *ngFor="#type of types" [value]="type.id">
                                {{ type.name }}
                            </option>
                        </select>

                        <label> Tax </label>
                        <select [(ngModel)]="salesItem.taxId" style="color: black;">
                            <option *ngFor="#tax of taxes" [value]="tax.id">
                                {{ tax.rate }}
                            </option>
                        </select>

                        <button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save
                        </button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2> All SalesItems </h2>
    </div>
    <div class="col-md-12" *ngFor="#item of salesItems">
        <div class="col-md-3">
            {{ item.id }}
        </div>

        <div class="col-md-9">
            {{ item.name }} <a href="salesItem/edit/{{ item.id }}" class="btn btn-primary">Edit</a> <button type="button" (click)="drop(item.id)" class="btn btn-default">Delete</button>
        </div>
    </div>
</div>

<!--<div class="col-md-12" *ngFor="#item of salesItems">-->
<!--<div class="col-md-3">-->
<!--{{ item.id }}-->
<!--</div>-->

<!--<div class="col-md-9">-->
<!--{{ item.rate }} <a href="taxes/edit/{{ item.id }}" class="btn btn-primary">Edit</a>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->