<h1 class="pull-left">Senders</h1>
<button (click)="create()" class="btn btn-primary pull-right"> Add</button>

<div class="row" *ngIf="message != ''">
    <div class="col-md-12 alert alert-info" >
        {{ message }}
    </div>
</div>

<div class="row" *ngIf="createForm">
    <div class="col-md-12">
        <form>
            <h2>Add Sender</h2>
            <label> Name </label>
            <input type="text" [(ngModel)]="sender.name"/>

            <label> E-mail </label>
            <input type="text" [(ngModel)]="sender.email"/>

            <label> Address </label>
            <input type="text" [(ngModel)]="sender.address"/>

            <label> Zip Code </label>
            <input type="text" [(ngModel)]="sender.zipCode"/>

            <label> City </label>
            <input type="text" [(ngModel)]="sender.city"/>

            <label> KVK Number </label>
            <input type="text" [(ngModel)]="sender.kvknumber"/>

            <label> BTW Number </label>
            <input type="text" [(ngModel)]="sender.btwnumber"/>

            <label> BIC Number </label>
            <input type="text" [(ngModel)]="sender.bicnumber"/>

            <label> IBAN Number </label>
            <input type="text" [(ngModel)]="sender.ibannumber"/>

            <label> Website </label>
            <input type="text" [(ngModel)]="sender.website"/>

            <button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save</button>
        </form>
    </div>
</div>

<div class="row" (ngInit)="index()">
    <div class="col-md-12">
        <h2> All Senders </h2>
    </div>

    <div class="col-md-12" *ngFor="#sender of senders">
        <div class="col-md-3">
            {{ sender.id }}
        </div>

        <div class="col-md-9">
            {{ sender.name }} <a href="senders/edit/{{ sender.id }}" class="btn btn-primary">Edit</a>
            <button type="button" (click)="drop(sender.id)" class="btn btn-default">Delete</button>
        </div>

    </div>
</div>