<h1 class="pull-left">Taxes</h1> <button (click)="create()" class="btn btn-primary pull-right"> Add </button>

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>

<div class="row" *ngIf="createForm">
    <div class="col-md-12">
        <form>
            <h2>Add tax</h2>
            <label> Rate </label>
            <input type="number" [(ngModel)]="tax.rate">

            <button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save</button>
        </form>
    </div>
</div>

<div class="row" (ngInit)="index()">
    <div class="col-md-12">
        <h2> All Taxes </h2>
    </div>

    <div class="col-md-12" *ngFor="#tax of taxes">
        <div class="col-md-3">
            {{ tax.id }}
        </div>

        <div class="col-md-9">
            {{ tax.rate }} <a href="taxes/edit/{{ tax.id }}" class="btn btn-primary">Edit</a> <button type="button" (click)="drop(tax.id)" class="btn btn-default">Delete</button>
        </div>

    </div>
</div>