<h1 class="pull-left">Types</h1> <button (click)="create()" class="btn btn-primary pull-right"> Add </button>

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>

<div class="row" *ngIf="createForm">
    <div class="col-md-12">
        <form>
            <h2> Add Type </h2>
            <label> Name </label>
            <input type="text" [(ngModel)]="type.name">

            <button type="button" (click)="store()" class="btn btn-primary" style="margin-top: 15px;">Save</button>
        </form>
    </div>
</div>

<div class="row" (ngInit)="index()">
    <div class="col-md-12">
        <h2> All Types </h2>
    </div>

    <div class="col-md-12" *ngFor="#type of types">
        <div class="col-md-3">
            {{ type.id }}
        </div>

        <div class="col-md-9">
            {{ type.name }} <a href="types/edit/{{ type.id }}" class="btn btn-primary">Edit</a><button type="button" (click)="drop(type.id)" class="btn btn-default">Delete</button>
        </div>

    </div>
</div>