<h1 class="pull-left"> Types </h1>
<a href="/types/" class="btn btn-primary pull-right"> Go Back </a>

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Edit Type </h2>
    </div>
    <div class="col-md-12">
        <form>
            <label> Name </label>
            <input type="text" [(ngModel)]="type.name"/>

            <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 15px;">Edit</button>
        </form>
    </div>
</div>