/*
======================================================================
Fonts
======================================================================
*/

@font-face {
    font-family: 'san_francisco';
    src: url('/assets/fonts/sanfranciscodisplay-regular-webfont.eot');
    src: url('/assets/fonts/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/sanfranciscodisplay-regular-webfont.woff') format('woff'),
    url('/assets/fonts/sanfranciscodisplay-regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/sanfranciscodisplay-regular-webfont.svg#san_francisco_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('/assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('/assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
======================================================================
General
======================================================================
*/
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    /*background-color: #E8EBED;*/
    /*font-family: san_francisco, helvetica, sans-serif;*/ /* OUDE FONT*/
    background-image: url("../img/avisi-bg.jpg");
    font-family: AvisiFont;
    color: #fff;

}

@font-face {
    font-family: AvisiFont;
    src: url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff);
}

header {
    background-color: rgba(30, 30, 30, 1);
    height: 45px;
    width: 100%;
    opacity: 0.6;
}

.btn-primary, .btn-default {
    font-family: 'open_sansregular';
    text-transform: uppercase;
    font-weight: 600;
    background-color: #19b;
    padding: 10px 15px;
    border: none;
    border-bottom: 3px solid #045;
    border-radius: 0;
    transition: all 0.2s ease;
}

.btn-primary:hover, .btn-default:hover {
    text-decoration: none;
    background-color: #045;
    border-bottom: 3px solid #19b;
}

.btn-default {
    background-color: #345;
    border-bottom: 3px solid #235;
    color: #f5f5f5;
    margin-left: 15px;
}

.btn-default:hover {
    background-color: #235;
    border-color: #345;
    color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'open_sansregular';
}

/*
======================================================================
Navigation
======================================================================
*/
aside {
    position: relative;
    z-index: 99999;
    float: left;
    padding: 0 0 0 0;
    width: calc(10%);
    height: calc(100vh);
    background-color: rgba(30, 30, 30, 0.6);
    text-align: center;
    /*opacity: 0.6;*/
}

aside nav {
    width: 100%;
    display: block;
}

aside nav ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

aside nav ul li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

aside nav ul li a {
    color: white;
    font-family: 14pt;
    text-decoration: none;
    padding: 15px 15px;
    display: block;
}

aside nav ul li a:hover, aside nav ul li a:active, aside nav ul li a:focus {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
    color: white;
}

aside img {
    height: 25px;
    margin: 10px 30px;
}

/*
======================================================================
Container
======================================================================
*/
.container {
    float: left;
    width: calc(100% - 10%);
    padding: 0 0 0 0;
}

.container .content {
    padding: 9px 20px;
}

.container .content h1 {
    margin: 0 0 0 0;
}

/*
======================================================================
Loading screen
======================================================================
*/
.full-center {
    text-align: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: calc(50%);
    left: 50%;
}

.full-center img {
    width: 48px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -24px;
}

.full-center span {
    display: block;
    margin-top: 32px;
    font-size: 10pt;
}

/*
======================================================================
Card
======================================================================
*/

.card {
    min-height: 100px;
    color: rgb(30, 30, 30);
}

.card .content-area {
    background: #f5f5f5;
    margin-bottom: 2px;
    border-left: 5px solid #19b;
    min-height: 155px;
}

.card h2 {
    margin: 0px;
    padding: 15px;
}

.card h2 .panel {
    background-color: #19b;
    color: #f5f5f5;
    padding: 5px;
    font-size: 16pt;
}

.card p {
    padding: 15px;
}

.companydata label {
    margin-bottom: -15px;
}

.cdata {
    color: #19b;
    margin-top: -25px;
}

.contactPerson {
    border-top-style: solid;
    border-width: 1px;
}

.card .controls-area {
    margin-top: 0px;
    border-left: 5px solid #19b;
    min-height: 30px;
    background: rgba(245, 245, 245, 1);
    padding: 15px;
    margin-bottom: 30px;
}

/*
======================================================================
Form
======================================================================
*/
form {
    margin-top: 15px;
}

form label {
    display: block;
    padding-top: 5px;
}

form input[type=text], input[type=date], input[type=number] {
    padding: 10px 20px;
    width: 100%;
    color: rgb(30, 30, 30);
    border-radius: 0px;
    border: solid 1px rgb(30, 30, 30);
}

form input[type=submit], input[type=reset] {
    width: auto;
    margin-top: 15px;
}

form select {
    padding: 10px 20px;
    color: rgb(30, 30, 30);
    background: #f5f5f5;
    border: solid 1px rgb(30, 30, 30);
    border-radius: 0px;
    width: 100%;
}

form textarea {
    height: 200px;
    width: 100%;
    max-width: 100%;
    color: rgb(30,30,30);
}

form .btn {
    margin-top: 15px;
}

fieldset.customer, fieldset.orderline {
    background-color: rgba(255,255,255, 0.1);
    padding: 15px;
}

fieldset {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
}

fieldset legend {
    position: relative;
    top: 25px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f5f5f5;
}

/*fieldset.customer legend {*/
    /*color: rgb(30,30,30);*/
    /*border-color: rgb(30,30,30);*/
/*}*/

fieldset:not(.customer) label:first-of-type, fieldset:not(.orderline) label:first-of-type{
    margin-top: 15px;
}

fieldset.customer label:first-child, fieldset.orderline label:first-child  {
    margin-top: 10px;
}

/*fieldset.customer label {*/
    /*color: rgb(30,30,30);*/
/*}*/



/*
======================================================================
Edit
======================================================================
*/
.addDialog {
    position: absolute;
    z-index: 9999999;
    min-height: 100vh;

    top: 0;
    left: 0%;
    right: 0;
}

.addDialog .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(30, 30, 30, 0.9);
}

.addDialog .content {
    position: absolute;
    top: 0%;
    left: 50%;
    min-height: 100px;
    width: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.addDialog .content .card .content-area form {
    padding: 15px;
}

.addDialog .content .card .content-area, .addDialog .content .card .controls-area {
    border-left: 5px solid #46d750;
}

.addDialog .content .card .controls-area {
    margin-top: 0;
}

/*
======================================================================
Edit
======================================================================
*/
.editDialog {
    position: absolute;
    z-index: 9999999;
    background-color: rgba(30, 30, 30, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.editDialog .content {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100px;
    width: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.editDialog .content .card .content-area form {
    padding: 15px;
}

.editDialog .content .card .content-area, .editDialog .content .card .controls-area {
    border-left: 5px solid #d76e10;
}

.editDialog .content .card .controls-area {
    margin: 0;
}

/*
======================================================================
Delete
======================================================================
*/
.deleteDialog {
    position: absolute;
    z-index: 9999999;
    background-color: rgba(30, 30, 30, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.deleteDialog .content {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.deleteDialog .content .card .content-area, .deleteDialog .content .card .controls-area {
    border-left: 5px solid #d71518;
}

.deleteDialog .content .card .controls-area {
    margin: 0;
}
