<h1 class="pull-left" (ngInit)="index()">SalesItem</h1>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="alert alert-success" *ngIf="message != ''">{{ message }}</div>

            <label> SKU </label>
            <input type="text" [(ngModel)]="salesItem.sku"/>

            <label> Name </label>
            <input type="text" [(ngModel)]="salesItem.name"/>

            <label> Description </label>
            <input type="text" [(ngModel)]="salesItem.description"/>

            <label> Price </label>
            <input type="number" [(ngModel)]="salesItem.price"/>

            <label> Type </label>
            <select [(ngModel)]="salesItem.typeId" style="color: black;">
                <option *ngFor="#type of types" [value]="type.id">
                    {{ type.name }}
                </option>
            </select>

            <label> Tax </label>
            <select [(ngModel)]="salesItem.taxId" style="color: black;">
                <option *ngFor="#tax of taxes" [value]="tax.id">
                    {{ tax.rate }}
                </option>
            </select>

            <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 15px;"> Save</button>
        </form>
    </div>
</div>