<h1 class="pull-left"> Taxes </h1>
<a href="/orders/" class="btn btn-primary pull-right"> Go back </a>

<div class="row">
    <div class="col-md-12">
        <h2> Edit Tax </h2>
    </div>
    <div class="col-md-12">
        <form>
            <div class="alert alert-success" *ngIf="message != null">{{ message }}</div>
            <label> Invoice E-mail </label>
            <input type="text" [(ngModel)]="order.invoiceEmail"/>

            <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 15px;">Edit</button>
        </form>
    </div>
</div>