<h1 class="pull-left"> Taxes </h1>
<a href="/taxes/" class="btn btn-primary pull-right"> Go back </a>

<div class="row">
    <div class="col-md-12 alert alert-info" *ngIf="message != ''">
        {{ message }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2> Edit Tax </h2>
    </div>
    <div class="col-md-12">
        <form>
            <label> Rate </label>
            <input type="number" [(ngModel)]="tax.rate"/>

            <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 15px;">Edit</button>
        </form>
    </div>
</div>