<h1 class="pull-left">Product</h1> <button (click)="showAddForm()" class="btn btn-primary pull-right"> Toevoegen </button>

<div class="row">
    <div class="col-md-12">
        <h2> Alle producten </h2>
    </div>
    <!--{{ products }}-->
    <div class="col-md-6" *ngFor="#product of products">
        <div class="card">
            <div class="content-area">
                <h2> {{ product.name }} <span class="panel pull-right"> € {{ product.price }} </span></h2>
                <p>{{ product.description }}</p>
            </div>
            <div class="controls-area">
                <div class="clearfix">
                    <button type="button" class="btn-default pull-right" (click)="showDeleteDialog(product.id)">
                        Verwijder
                    </button>
                    <button type="button" class="btn-primary pull-right" (click)="showUpdateForm(product)">
                        Wijzig
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add-form dialog -->
<div class="addDialog" *ngIf="add.dialog">
    <div class="background"></div>
    <div class="content">
        <div class="card">
            <div class="content-area">
                <form>
                    <label> SKU </label>
                    <input type="text" [(ngModel)]="add.product.sku" />

                    <label> Naam </label>
                    <input type="text" [(ngModel)]="add.product.name" />

                    <label> Beschrijving </label>
                    <input type="text" [(ngModel)]="add.product.description" />

                    <label> Prijs </label>
                    <input type="text" [(ngModel)]="add.product.price" />

                    <label> Belasting </label>
                    <input type="text" [(ngModel)]="add.product.taxes" />
                </form>
            </div>

            <div class="controls-area">
                <div class="clearfix">
                    <button type="button" class="btn-default pull-right" (click)="store()">
                        Opslaan
                    </button>
                    <button type="button" class="btn-primary pull-right" (click)="cancel()">
                        Annuleer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- editing-form dialog -->
<div class="editDialog" *ngIf="edit.dialog">
    <div class="content">
        <div class="card">
            <div class="content-area">
                <form>
                    <label> SKU </label>
                    <input type="text" [(ngModel)]="edit.product.sku" />

                    <label> Naam </label>
                    <input type="text" [(ngModel)]="edit.product.name" />

                    <label> Beschrijving </label>
                    <input type="text" [(ngModel)]="edit.product.description" />

                    <label> Prijs </label>
                    <input type="text" [(ngModel)]="edit.product.price" />

                    <label> Belasting </label>
                    <input type="text" [(ngModel)]="edit.product.taxes" />
                </form>
            </div>

            <div class="controls-area">
                <div class="clearfix">
                    <button type="button" class="btn-default pull-right" (click)="update()">
                        Opslaan
                    </button>
                    <button type="button" class="btn-primary pull-right" (click)="cancel()">
                        Annuleer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete dialog-->
<div class="deleteDialog" *ngIf="delete.dialog">
    <div class="content">
        <div class="card">
            <div class="content-area">
                <h2> Do you really want to delete this item? </h2>
            </div>
            <div class="controls-area">
                <div class="clearfix">
                    <button type="button" (click)="drop()" class="btn-default pull-right">Yes</button>
                    <button type="button" (click)="cancel()" class="btn-primary pull-right">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
