<h1 class="pull-left"> Contact Persons </h1>
<a href="/contactPersons/" class="btn btn-primary pull-right"> Back </a>

<div class="row">
    <div class="col-md-12">
        <h2> Edit Contact Persons </h2>
    </div>
    <div class="col-md-12">
        <form>
            <!--<div class="alert alert-success" *ngIf="message != null">{{ message }}</div>-->
            <div class="alert alert-success"></div>
            <label> phonenumber </label>
            <input type="text" placeholder="phonenumber"/>
            <input type="text" placeholder="email"/>

            <button type="button" (click)="update()" class="btn btn-primary" style="margin-top: 15px;">Wijzig</button>
        </form>
    </div>
</div>